In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import sklearn
from sklearn.model_selection import train_test_split
from sklearn.model_selection import cross_val_score
from sklearn.metrics import classification_report
from sklearn.metrics import confusion_matrix
from sklearn.metrics import accuracy_score
from sklearn import linear_model
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.naive_bayes import GaussianNB
from sklearn.svm import SVC
from sklearn.preprocessing import StandardScaler

In [3]:
df_heart=pd.read_csv('heart_disease.csv')
df_heart.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,num
0,63,1,4,140,260,0,1,112,1,3,2,?,?,2
1,44,1,4,130,209,0,1,127,0,0,?,?,?,0
2,60,1,4,132,218,0,1,140,1,1.5,3,?,?,2
3,55,1,4,142,228,0,1,149,1,2.5,1,?,?,1
4,66,1,3,110,213,1,2,99,1,1.3,2,?,?,0

In [5]:
df_heart.info()
#To check the data types and null values in data

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 14 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       200 non-null    int64
 1   sex       200 non-null    int64
 2   cp        200 non-null    int64
 3   trestbps  200 non-null    object
 4   chol      200 non-null    object
 5   fbs       200 non-null    object
 6   restecg   200 non-null    int64
 7   thalach   200 non-null    object
 8   exang     200 non-null    object
 9   oldpeak   200 non-null    object
 10  slope     200 non-null    object
 11  ca        200 non-null    object
 12  thal      200 non-null    object
 13  num       200 non-null    int64
dtypes: int64(5), object(9)
memory usage: 22.0+ KB

In [21]:
df_heart.shape

(200, 14)

In [13]:
df_heart['trestbps'].value_counts()

?      56
120    16
130    15
140    10
110     9
150     9
160     8
122     6
142     5
128     4
124     4
170     4
144     4
136     4
134     4
126     4
158     3
132     3
154     2
138     2
112     2
155     2
104     2
152     2
180     2
116     2
125     2
178     1
190     1
114     1
106     1
102     1
0       1
156     1
172     1
146     1
96      1
118     1
100     1
127     1
135     1
Name: trestbps, dtype: int64

In [14]:
df_heart['ca'].value_counts()

?    198
0      2
Name: ca, dtype: int64

In [15]:
df_heart['thal'].value_counts()

?    166
7     22
6      8
3      4
Name: thal, dtype: int64

In [17]:
df_heart['thalach'].value_counts()

?      53
140    12
120    12
110     8
130     6
112     6
150     4
105     4
118     4
100     4
128     4
160     4
125     3
117     3
102     3
106     3
135     3
122     3
108     3
86      3
84      3
148     3
98      2
111     2
129     2
180     2
119     2
165     2
80      2
154     2
96      2
138     2
127     2
69      1
88      1
121     1
107     1
162     1
144     1
126     1
97      1
151     1
159     1
73      1
141     1
99      1
115     1
155     1
149     1
93      1
157     1
113     1
145     1
94      1
132     1
133     1
123     1
124     1
161     1
131     1
Name: thalach, dtype: int64

In [18]:
df_heart['slope'].value_counts()

?    102
2     53
3     29
1     16
Name: slope, dtype: int64

In [19]:
df_heart['oldpeak'].value_counts()

?       56
0       40
2       25
1.5     21
1       18
3       13
2.5      9
0.5      7
4        4
1.3      2
0.8      1
1.7      1
-0.5     1
1.6      1
3.5      1
Name: oldpeak, dtype: int64

In [ ]:
#There are too many missing values to give an analysis and build a prediction model.
#Data is incomplete.